/*
AUTHOR: Peter Himmelreich
		averygoodplanet@gmail.com
		averygoodplanet.com
*/

html { 
  /*image free for personal use from http://www.stockvault.net/photo/96350/old-television */
  background: url(images/old_television.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3 {
	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
}

#center_wrapper {
	background-image: url(images/static.jpg);
	width: 980px;
	margin: auto;
	min-height: 98vh;
	border-radius: 5px;
}

div {
/*
	border: 1px solid black;
*/
}

.movie_div {
	width: 470px;
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 7px;
	/* CSS Box Shadow from http://css-tricks.com/snippets/css/css-box-shadow/ */
	/* modified using http://css3gen.com/box-shadow/ */
	-moz-box-shadow: -12px -12px 30px #FAFAFA;
	-webkit-box-shadow: -12px -12px 30px #FAFAFA;
	box-shadow: -12px -12px 30px #FAFAFA;
	/* Added gradient using http://www.css3.me/ */
	background-image: -moz-linear-gradient(top, #ffc21f, #ff1200);
	background-image: -o-linear-gradient(top, #ffc21f, #ff1200);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ffc21f), to(#ff1200));
	background-image: -webkit-linear-gradient(top, #ffc21f, #ff1200);
	background-image: linear-gradient(top, #ffc21f, #ff1200);

}

.poster {
	float: left;
	margin: 10px;
}

.movie_text {
	float: left;
	width: 255px;
	margin-right: 10px;
}

.title {
	text-align: center;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.tagline {
	text-align: center;
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-style: italic;
}

.trailer {
	font-size: 20px;
	color: #AAAA99;
}

.overview_div {
	clear: both;
}

.overview_style {
	padding-left: 20px;
	text-align: justify;
	min-height: 40px;
}
